# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.iml

# =========================
# Maven
# =========================
dist/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Maven wrapper (keep the jar, ignore logs)
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# =========================
# Java
# =========================
*.class
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Database / SQL
# =========================
*.db
